//fonts
$inter-semiBold: 'Inter-SemiBold', 'sans-serif';
$inter-regular: 'Inter-Regular', 'sans-serif';
$inter-medium: 'Inter-Medium', 'sans-serif';
$inter-Bold: 'Inter-Bold', 'sans-serif';

//colors
$white: #fff;
$light-gray: #EEF1FA;
$orange: #ff9300;
$black: #04000A;
$gray: #AFABBA;
$medium-gray: #DFDDE3;

//function animation
$slow: cubic-bezier(0.22, 1, 0.36, 1);
$jump: cubic-bezier(0.34, 1.56, 0.64, 1);

// layout
$w-min: 360px;
$w-max: 1440px;
$w-mid: 744px;

